* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("./../images/image.png");
}

.navbar{
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    a{
        text-decoration: none;
        padding: 6px 12px;
        color: white;
        border: red solid 1px;
        background-color: red;
        border-radius: 24px;
    }
}

.title{
    text-align: center;
    margin:3rem;
}
.image{
    text-align: center;
    img{
        height: 1600px;
        width:80%;
        border: 50px solid black;
        border-radius: 100px;
    }
}
fieldset{
    background-color: lightgray;
}

article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .left{
        margin:10px;
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        fieldset{
            text-align: center;
        }
        ul{
            margin-left: 15px;
            text-align: left;

        }
    }
    .right{
        fieldset{
            text-align: center;
            ul{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-left: 20px;
                text-align: left;
                li{
                    gap: 2rem;
                }
            }
        }
        margin:10px;
        width: 45%;
        display: flex;
        align-items: center;
        flex-direction: column;

    }
}
footer{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

