* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*zorgt voor smooth scroll beweging met de anchor links*/
html{
    scroll-behavior: smooth;
}
.navbar{
    background-color: black;
    display: flex;
    padding: 1rem;
    a{
        text-decoration: none;
        padding: 6px 12px;
        color: white;
        border: red solid 1px;
        background-color: red;
        border-radius: 24px;
    }
}

.mySite{
    font-weight: bold;
    font-size: 170%;
}
body{
    background: linear-gradient(darkred, black);
    color: white;
    font-family: "Sofia", sans-serif;
    font-size: 115%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul, ol{
    margin: 20px;
    }
    a{
        color: white;
    }
    .linkedin{
        img{
            margin-top: 20px;
            border: 50px solid black;
            width: 80vw;

        }
        img:hover{
             box-shadow: 1rem 3rem 3rem white;
         }
    }
    .fieldsets{
        margin-top: 90px;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        fieldset{
            padding: 1rem;
            legend{
                display: flex;
                text-align: center;
            }
        }
        fieldset:hover{
            color: gold;
            a{
                color: gold;
            }
        }
    }

}
footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: red;
    padding: 1rem;
    a{
        color: white;
        border: 1px solid white;
        background-color: black;
        padding: 5px 12px;
        border-radius: 12px;
    }

}
.name:hover, .task:hover, .redirect:hover{
    color: gold;
}
