* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(darkred, black);
    color: white;

}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul, ol{
    margin: 20px;
    }
    a{
        color: white;
    }
    .linkedin{
        img{
            margin-top: 20px;
            border: 50px solid black;
            width: 80vw;

        }
        img:hover{
             box-shadow: 1rem 3rem 3rem white;
         }
    }
    .fieldsets{
        margin-top: 90px;
        fieldset{
            legend{
                display: flex;
                text-align: center;
            }
        }
    }



}
