* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*zorgt voor smooth scroll beweging met de anchor links*/
html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(darkred, black);
    color: white;

}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul, ol{
    margin: 20px;
    }
    a{
        color: white;
    }
    .linkedin{
        img{
            margin-top: 20px;
            border: 50px solid black;
            width: 80vw;

        }
        img:hover{
             box-shadow: 1rem 3rem 3rem white;
         }
    }
    .fieldsets{
        margin-top: 90px;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        fieldset{
            legend{
                display: flex;
                text-align: center;
            }
        }
    }

}
footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: red;
    padding: 1rem;
    a{
        color: white;
        border: 1px solid white;
        background-color: black;
        padding: 5px 12px;
        border-radius: 12px;
    }
}
