* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*zorgt voor smooth scroll beweging met de anchor links*/
html{
    scroll-behavior: smooth;
}
.navbar{
    background-color: black;
    display: flex;
    padding: 1rem;
    a{
        text-decoration: none;
        padding: 6px 12px;
        color: white;
        border: red solid 1px;
        background-color: red;
        border-radius: 24px;
    }
}

.mySite{
    font-weight: bold;
    font-size: 170%;
}
body{
    background: linear-gradient(darkred, black);
    color: white;
    font-family: "Sofia", sans-serif;
    font-size: 115%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul, ol{
    margin: 20px;
    }
    a{
        color: white;
    }
    .linkedin{
        img{
            margin-top: 20px;

            width: 80vw;
            @media screen and (max-width: 576px) {
                border: 10px solid black;
            }
            @media screen and (min-width: 992px) {
                border: 50px solid black;
            }
            @media screen and (min-width: 576px) and (max-width: 992px) {
                border: 30px solid black;
            }

        }
        img:hover{
             box-shadow: 1rem 3rem 3rem white;
         }
    }
    .fieldsets{
        margin: 90px 2rem 2rem 2rem;
        display: flex;

        @media screen and (max-width: 576px) {
            flex-direction: column;
            fieldset{
                display: flex;
                padding: 1rem;
                legend{
                    display: flex;
                    text-align: center;
                }
            }
            fieldset:hover{
                color: gold;
                a{
                    color: gold;
                }
            }
            .left{
                display: flex;
                flex-direction: column;
            }
            .right{
                display: flex;
                flex-direction: column;
            }
        }
        @media screen and (min-width: 992px) {
            flex-direction: row;
            fieldset{
                display: flex;
                flex-direction: column;
                padding: 1rem;
                legend{
                    display: flex;
                    text-align: center;
                }
            }
            fieldset:hover{
                color: gold;
                a{
                    color: gold;
                }
            }

            .left{
                display: flex;
                flex-direction: column;
                width: 30vw;
            }
            .right{
                display: flex;
                flex-direction: column;

            }
            gap: 1rem;
        }
        @media screen and (min-width: 576px) and (max-width: 992px) {
            flex-direction: column;
            fieldset{
                color: gold;
                a{
                    color: gold;
                }
            }
            fieldset:hover{
                color: white;
                a{
                    color: white;
                }
            }


            .left{
                display: flex;
                flex-direction: column;
            }
            .right{
                display: flex;
                flex-direction: column;
            }

        }



    }

}

.language{
    display: flex;
    flex-direction: column;
    .languageSkill{
        display: flex;
        flex-direction: column;
        .progress{
            width: 100%;
            height: 15px;
            background-color: #dddddd;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            span{
                position: absolute;
                height: 100%;
                border-radius: 10px;
                width: 70%;
                background-color: crimson;
            }
            .dutch{
                width: 90%;
            }
            .english{
                width: 85%;
            }
            .french{
                width: 20%;
            }
        }
    }
}

footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: red;
    padding: 1rem;
    a{
        color: white;
        border: 1px solid white;
        background-color: black;
        padding: 5px 12px;
        border-radius: 12px;
    }

}
.name:hover, .task:hover, .redirect:hover{
    color: gold;
}
